<p id='notice'><%= notice %></p>
<h1>Your Order</h1>
<p><%= current_user.email %></p>
<table class='table table-hover'>
  <tr>
    <th>Product Name</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Subtotal</th>
    <th>Tax</th>
    <th>Total</th>
  </tr>
  <% @orders.each do |order| %>
  <tr>
    <td><%= order.product.name %></td>
    <td><%= order.quantity %></td>
    <td><%= number_to_currency(order.subtotal / order.quantity) %></td>
    <td><%= number_to_currency order.subtotal %></td>
    <td><%= number_to_currency order.tax %></td>
    <td><%= number_to_currency order.total %></td>
  </tr>
  <% end %>
  <tr>
    <td>Totals</td>
    <td></td>
    <td></td>
    <td><%= number_to_currency @subtotal %></td>
    <td><%= number_to_currency @tax %></td>
    <td><%= number_to_currency @total %></td>
</table>
<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
