<!--h1><%= @product.name %><%= @product.images.count %></h1>

<div class="col-xs-12 col-sm-12 col-md-3">
  <div class="row thumbnail">
    <a href="#">
      <img class="img-responsive" src="<%= @product.images.first.url %>">
    </a>
  </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-9">
  <span class=<%= @product.color_price%>>
    <%= number_to_currency @product.price %>
  </span>
  <div>
    <%= @product.supplier.name%>
  </div>
  <div>
    <% if @product.available %>
    <span>Available</span>
    <% else %>
    <span>Out of Stock</span>
    <% end %>
  </div>
  <p>
    <%= @product.description %>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <%= form_tag '/orders', :class => 'form-inline', method: :post do %>
    <%= label_tag :quantity %>
    <%= text_field_tag :quantity, nil, type: 'number', class: 'small text-center form-control' %>
    <%= hidden_field_tag :product_id, @product.id, class: "form-control"  %>
    <%= button_tag type: 'submit', 'aria-label' => 'Buy Now', class: 'btn btn-success' do %>
      <span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-shopping-cart"></span>
    <% end %>
  <% end %>
  <table class="table">
    <tr>
    <th>Tax:</th>
    <td><%= number_to_currency @product.tax %></td>
  </tr>
  <tr>
    <th>Total:</th>
    <td><%= number_to_currency @product.total %></td>
  </tr>
  </table>
</div>

<div class="col-xs-12 col-sm-12">
  <div class="owl-carousel owl-theme">
      <% @product.images.reverse.drop(1).each do |image| %>
        <div class="item">
          <a href="#">
            <img class="thumbnail" src="<%= image.url %>">
          </a>
        </div>
      <% end %>
  </div>
</div>

<script>
  $('.owl-carousel').owlCarousel({
      margin:5,
      items:3,
      responsive:{
          0:{
              items:2
          },
          600:{
              items:3
          },
          1000:{
              items:5
          }
      }
  })
  </script-->


<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
