<h1>Products</h1>

<a href='/products?sort=price'>Sort by Ascending Price</a><br />
<a href='/products?sort=price desc'>Sort by Descending Price</a><br /><br />

<h4>List Products by Category</h4>
<select onChange='window.location.href=this.value'>
  <option>Category</option>
  <% Category.all.each do |category| %>
    <option value="/products?category=<%= category.name %>">
      <%= category.name %>
    </option>
  <% end %>
</select>

<hr />

<div class='row'>
  <% @products.each do |product| %>
    <div class='col-md-2'>
      <a href="/products/<%= product.id %>">
        <% if product.name %>
          <p><%= product.name %></p>
        <% else %>
          <p>No product name!</p>
        <% end %>

        <% if product.price %>
          <p>$<%= product.price %></p>
        <% else %>
          <p>No product price!</p>
        <% end %>

        <% if product.images %>
          <p><img src=<%= product.images.first.url %>
                  alt=<%= product.name %>
                style='height:50px;'></p>
        <% else %>
          <p>No product image!</p>
        <% end %>

        <% if product.description %>
          <p><%= product.description %></p>
        <% else %>
          <p>No product description!</p>
        <% end %>
      </a>
    </div>
  <% end %>
</div>