<h1>Products</h1>

<div class='row'>
  <% Product.all.each do |product| %>
    <div class="col-md-3">
      <a href="/products/<%= product.id %>">
        <% if product.name %>
          <p><%= product.name %></p>
        <% else %>
          <p>No product name!</p>
        <% end %>

        <% if product.price %>
          <p>$<%= product.price %></p>
        <% else %>
          <p>No product price!</p>
        <% end %>

        <% if product.image %>
          <p><img src=/assets/<%= product.image %>
                  alt=<%= product.name %>
                style='height:50px;'></p>
        <% else %>
          <p>No product image!</p>
        <% end %>

        <% if product.description %>
          <p><%= product.description %></p>
        <% else %>
          <p>No product description!</p>
        <% end %>
      </a>
    </div>
  <% end %>
</div>


<%= link_to "Add a new product", "/products/new" %>