<h1><%= @product.name %> - $<%= @product.price %></h1>
<img src=<%= @product.image %>
     alt=<%= @product.name %>
   style='height:200px;'></img>
<p><%= @product.description %></p>
<hr />
<%= link_to "Update #{@product.name} Properties", 
            "/products/#{@product.id}/edit" %><br />
<%= link_to "Delete #{@product.name}",
            "/products/#{@product.id}",
            method: :delete %><br />
<%= link_to 'Home', '/' %>
